<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/dhanush.reddy.94064176"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/dhgh3738/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/dhanush-s-993b5323b/"><i class="fa-brands fa-square-linkedin"></i></a>

        </div>
        <div class="f-info-brand">&copy; Wonder Limited</div>
        <div class="f-info-links">
           <a href="/privacy">Privacy & Terms</a> 
           
        </div>
    </div>
</footer>